@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@if (User.Identity.IsAuthenticated)
{
    <h2>Claims</h2>
    <dl>
        @foreach (var claim in User.Claims)
        {
            <dt>@claim.Type</dt>
            <dd>@claim.Value</dd>
        }
    </dl>

    @if (!string.IsNullOrEmpty(IndexModel.IdToken))
    {
        <h2>Id Token</h2>
        <pre>@IndexModel.IdToken</pre>
    }

    @if (!string.IsNullOrEmpty(Model.AccessToken))
    {
        <h2>Access Token</h2>
        <pre>@Model.AccessToken</pre>
    }

    @if (!string.IsNullOrEmpty(Model.RefreshToken))
    {
        <h2>Refresh Token</h2>
        <pre>@Model.RefreshToken</pre>
    }

    <form method="post">
        <button type="submit" class="btn btn-primary" asp-page-handler="Submit">Refresh</button>
    </form>
}